:host {
  width: 100vw;
  background-color: var(--color-orange);
  display: flex;
  justify-content: center;
}

.pains-section {
  width: 80%;
  color: var(--color-white);
  display: flex;
}

.pains-text-and-button {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.pains-image {
  width: 30%;
}

.pains-answear {
  font-size: 36px;
}
