<section class="pains-section">
  <div class="pains-text-and-button">
    <p>¿Temes perder mucho tiempo con esto?</p>
    <p class="pains-answear">
      Ya imagino que no tienes tiempo ni equipo para preparar y supervisar contenidos, por eso
      facilito el proceso al máximo.
    </p>
    <app-button
      [buttonStyle]="'coloured-button'"
      [buttonText]="'Consulta lo que quieras'"
      [buttonLink]="'/contacta'"
    ></app-button>
  </div>
  <img class="pains-image" src="/assets/web-para-ong-tws.webp" alt="pending" />
</section>
