<section class="donate-section">
  <div class="who-text-and-button">
    <p>¿Dónde se destina tu inversión?</p>
    <p class="who-answear">
      Donaré el <span class="remarked-text">10% de tu inversión</span> a todas aquellas ONGs que han
      decidido encargarme su web. Es decir, tú también recibirás mi donación
      <span (click)="showText()">▶</span>
      <span [hidden]="textVisiblity"
        >Anualmente, durante la segunda quincena de diciembre, donaré el 10% de los importes
        recibidos durante ese ejercicio repartido entre las ONGs cuya página web haya creado durante
        el mismo ejercicio. El reparto será a partes iguales. Las transferencias se publicarán en
        esta misma página web. Hasta Diciembre de 2025 no habrá nada publicado porque esta "idea
        loca" arranca en 2025...</span
      >
    </p>
  </div>
</section>
