<section class="who-section">
  <div class="who-text-and-button">
    <p class="section-intro">¿Quién va a crear tu web?</p>
    <p class="section-answear">
      Tras cuatro años trabajando en una Fundación, me lancé a la programación. Con el deseo de
      dedicarme profesionalmente a la programación y poder seguir aportando algo con mi trabajo al
      Tercer Sector, nace la idea de crear webs para ONGs retornando parte de su inversión a las
      mismas.
    </p>
    <a class="who-link" href="https://www.linkedin.com/in/beatrizrodriguezmaya/"
      ><i class="fa-brands fa-linkedin-in"></i> Más sobre mí</a
    >
  </div>
</section>
