<div class="banner-text-and-button">
  <h1 class="page-title">Por fin tu página web</h1>
  <h2 class="page-subtitle">
    Sin invertir demasiado tiempo y dinero y colaborando con entidades como la tuya
  </h2>
  <div class="buttons-container">
    <app-button
      [buttonStyle]="'white-button'"
      [buttonText]="'Info'"
      [buttonLink]="'/contacta'"
    ></app-button>
    <app-button
      [buttonStyle]="'coloured-button'"
      [buttonText]="'Precios'"
      [buttonLink]="'/contacta'"
    ></app-button>
  </div>
  <ul class="main-info">
    <li>💞 Parte de tu inversión se donará a otras ONG |</li>
    <li>🫶 Creada por alguien con experiencia en ONG</li>
  </ul>
</div>
<img class="main-img" src="/web-para-ong-tws.webp" alt="tu-web-solidaria" />
