<app-navbar></app-navbar>
<main class="main">
  <app-title></app-title>
  <app-info
    [infoIntro]="'¿Por qué es importante tener tu página web?'"
    [infoAnswear]="'Es tan importante la actividad que desarrollas como que el mundo se entere'"
    [cardTexts]="reasonsCards"
  ></app-info>
  <app-pains></app-pains>
  <app-info
    [infoIntro]="'¿Cuánto te va a costar?'"
    [infoAnswear]="'Tú eliges en fucnión de tus necesidades y presupuesto'"
    [cardTexts]="pricesCards"
  ></app-info>
</main>

<router-outlet />
