<h3 class="section-intro">{{ infoIntro }}</h3>
<p class="section-answear" id="section-answear-info-component">{{ infoAnswear }}</p>
<ul class="cards">
  @for (cardText of cardTexts; track cardText; let idx = $index) {
    <li>
      <app-card
        [cardClass]="content === 'reasons' ? 'card' + idx.toString() : 'price-card'"
        [cardText]="cardText"
      ></app-card>
    </li>
  }
</ul>

<div class="buttons-container">
  <app-button
    [buttonStyle]="'coloured-button'"
    [buttonText]="'Solicitar web'"
    [buttonLink]="'mailto:b_a_ro@hotmail.com'"
  ></app-button>
  <app-button
    [buttonStyle]="'white-button'"
    [buttonText]="'Descargar precios'"
    [buttonLink]="'/contacta'"
  ></app-button>
</div>
