<h3 class="info-intro">¿Por qué es importante tener tu página web?</h3>
<p class="info-answear">
  Es tan importante la actividad que desarrollas como que el mundo se entere
</p>
<ul class="cards">
  <li>
    <app-card [cardClass]="'beneficiarios-card'" [cardText]="cardTexts[0]"></app-card>
  </li>
  <li>
    <app-card [cardClass]="'colaboradores-card'" [cardText]="cardTexts[1]"></app-card>
  </li>
  <li>
    <app-card [cardClass]="'transparencia-card'" [cardText]="cardTexts[2]"></app-card>
  </li>
</ul>

<div class="buttons-container">
  <app-button
    [buttonStyle]="'coloured-button'"
    [buttonText]="'Solicitar web'"
    [buttonLink]="'/contacta'"
  ></app-button>
  <app-button
    [buttonStyle]="'white-button'"
    [buttonText]="'Descargar precios'"
    [buttonLink]="'/contacta'"
  ></app-button>
</div>
